@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;800&display=swap');

.container {
  height: 100%;
  background-color: whitesmoke;
  width: 100%;
  font-family: 'Sarabun', sans-serif;
  overflow: hidden;
}